<%- include("partials/header-home.ejs") %>
  <div class="container">
   <div class="slider-container">
      <img class="slider-top" src="images/section1-banner1.webp" alt="">
      <img class="slider-top" src="images/section1-banner2.webp" alt="">
      <img class="slider-top active" src="images/section1-banner3.webp" alt="">
   </div>
  </div>
  <div class="progress">
   <div id="length"></div>
           <div id="progress-animation"></div>
           <div class="slider-count">
               <div class="count"></div>
               <div class="count"></div>
               <div class="count"></div>
           </div>
  </div>
        
  <div class="grid-container">
    <div class="item1">
      <div class="header-item1"><h2>TOBACCO FREE - NICOTINE POUCHES</h2></div>
      <div class="content-div-item1">
        <div class="strong-item1">
          <img src="/images/pouch.webp" alt="">
        </div>
        <div class="headings-item1">
          <h2>16 varieties of flavors!</h2>
          <ul>
            <li><i class='bx bxs-check-circle'></i>strong</li>
            <li><i class='bx bxs-check-circle'></i>tobacco alternatives</li>
            <li><i class='bx bxs-check-circle'></i>best in the industry</li>
          </ul>
        </div>
        <div class="slider-container-item1">
          <div class="card-item1">
            <div class="image-item1">
              <img src="/images/products/strawberry.webp" alt="">
              <img src="/images/products/spearmint.webp" alt="">
              <img src="/images/products/vintage.webp" alt="">
              <img src="/images/products/peppermint.webp" alt="">
              <img src="/images/products/sour-apple.webp" alt="">
              <img src="/images/products/winter-green.webp" alt="">
              <img src="/images/products/peach.webp" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item2">
      <img src="/images/all-new-flavors-zolt.svg" alt="">
      <a href="products.ejs">ORDER NOW</a>
    </div>
    <div class="item3"></div>  
    <div class="item4"></div>
  </div>

  <div class="section-3">
    <div class="section-3-video">
      <video width="920" height="480" autoplay muted loop>
        <source src="/videos/pouch demo anime.mp4" type="video/mp4">
        Your browser does not support HTML video.
      </video>
    </div>
    <div class="section-3-content">
      <div class="section-3-content-img">
        <img src="/images/thunder.webp" alt="">
      </div>
      <div class="section-3-content-heading">
        <h1>Feel it!</h1>
        <h2>For 60 mins.</h2>
      </div>
    </div>
  </div>

  <div class="section-4">
    <div class="section-4-item1">
      <div class="section-4-item1-img">
        <img src="/images/products/vintage.webp" alt="">
      </div>
      <div class="section-4-item1-strength">
        <i class='strength-8'></i>
        <i class='strength-8'></i>
        <i class='strength-8'></i>
        <i class='strength-8'></i>
        <i class='strength-8'></i>
      </div>
    </div>
    <div class="section-4-item2">
        <h1>Two strengths of nicotine</h1>
        <h4><span class="i8">8 mg</span>
            <span class="i15">15 mg</span>
        </h4>
        <div class="section-4-item2-sym">
          <span><i class='bx bxs-droplet'></i>Stain free</span>
          <span><i class='bx bxs-check-circle'></i>Easy to use</span>
          <span><i class='bx bxs-time-five' ></i>Lasts long</span>
        </div>
    </div>
    <div class="section-4-item3">
      <div class="section-4-item3-img">
        <img src="/images/15mg/coffee-15mg.webp" alt="">
      </div>
      <div class="section-4-item3-strength">
        <i class='strength-15'></i>
        <i class='strength-15'></i>
        <i class='strength-15'></i>
        <i class='strength-15'></i>
        <i class='strength-15'></i>
      </div>
    </div>
    <div class="section-4-item4">
      <h2>Use It... <br> Anywhere, Anytime!</h2>
      <img src="/images/pouch-sym-white.webp" alt="">
      <div class="sec-4-it-4-div-1">
      </div>
    </div>
  </div>

<!-- section 5 -->
  
<div class="section-5">
    <div class="sec-5-overlay"></div>
    <div class="sec-5-div-1">
      <div class="sec-5-div-1-con">
        <h1>Special Blend Of Flavors!</h1>
        <h6>Enjoy exotic flavors without having any <br> stains on your teeth.</h6>
      </div>
    </div>
    <div class="sec-5-div-2">
      <div class="sec-5-slider">
        <div class="sec-5-slide">
          <!-- 15 slides -->
          <div class="slide">
            <img src="/images/flavors-graphics/1.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/2.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/3.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/4.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/5.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/6.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/7.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/8.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/9.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/10.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/11.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/12.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/13.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/14.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/15.webp" alt="">
          </div>
          <!-- 15 slides -->
  
          <div class="slide">
            <img src="/images/flavors-graphics/1.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/2.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/3.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/4.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/5.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/6.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/7.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/8.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/9.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/10.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/11.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/12.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/13.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/14.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/15.webp" alt="">
          </div>
  
        </div>
      </div>
    </div>
  </div>

    <!-- section 6 -->

  <div class="section-6">
    <div class="sec-6-div-1">
      <div class="sec-6-d-1-left">
        <div class="sec-6-d-1-left-con">
          <h1>The Power Of Long Lasting <br> Nicotine Pouches!</h1>
          <h6>Revolutionize Your Nicotine Fix.</h6>
          <a href="about.ejs">Learn About <span>ZOLT</span><i class='bx bx-chevrons-right'></i></a>
        </div>
      </div>
      <div class="sec-6-d-1-right">
        <img src="/images/open-can-img-trans-bg.webp" alt="">
      </div>
    </div>
    <div class="sec-6-div-2">
      <div class="sec-6-div-2-left">
        <i class='bx bxs-truck'></i>
        <span><h1>Express Delivery</h1></span>
      </div>
      <div class="sec-6-div-2-right">
        <i class='bx bxs-check-shield' ></i>
        <span><h1>Secure Payment</h1></span>
      </div>
    </div>
  </div>

  <!-- section 7 --> 
  <div class="section-7">
      <div class="sec-7-div-1">
        <h1>FAQ</h1>
          <div class="sec-7-d-acc-con">
            <div>
              <input type="checkbox" id="question1" name="q"  class="questions">
              <label for="question1" class="question">
                <i class='bx bx-plus'></i>What are Long-Lasting Nicotine Pouches?
              </label>
              <div class="answers">
                These nicotine pouches are filled with nicotine, flavorings, and other ingredients that provide a satisfying nicotine experience. Unlike traditional tobacco products, long-lasting nicotine are completely smoke-free, making them a healthier option for nicotine lovers.</div>
            </div>
            
            <div>
              <input type="checkbox" id="question2" name="q" class="questions">
              <label for="question2" class="question">
                <i class='bx bx-plus'></i>Why Choose Long-Lasting Nicotine Pouches?
              </label>
              <div class="answers">
                <p>There are many reasons to choose nicotine pouches over traditional tobacco products. For starters, they are smoke-free and don’t produce any ash or smoke, making them more convenient and discreet. Additionally, they come in various flavors, allowing you to customize your nicotine experience to suit your tastes.

                  Another major benefit of these pouches is their long-lasting nature. Unlike traditional tobacco products that must be constantly replaced, our pouches can provide a satisfying nicotine experience for up to an hour or more.</p> 
              </div>
            </div>
              
            <div>
              <input type="checkbox" id="question3" name="q" class="questions">
              <label for="question3" class="question">
                <i class='bx bx-plus'></i>How to Use These Nicotine Pouches?  
              </label>
              <div class="answers">
                Using nicotine pouches is incredibly easy. Simply place a pouch between your gum and cheek, and let the nicotine and flavoring work. You’ll feel a satisfying rush of nicotine that lasts an hour or more without any hassle or mess of traditional tobacco products.
              </div>
            </div>
            <div>
              <input type="checkbox" id="question4" name="q"  class="questions">
              <label for="question4" class="question">
                <i class='bx bx-plus'></i>What Are Smokeless Nicotine Products?
              </label>
              <div class="answers">
                Nicotine products are those that do not involve combustion and therefore do not produce smoke. This includes products such as nicotine pouches, which are small pouches containing nicotine and other ingredients, but no tobacco. These nicotine pouches are less messy and more discreet than traditional tobacco products.</div>
            </div>
            
            <div>
              <input type="checkbox" id="question5" name="q" class="questions">
              <label for="question5" class="question">
                <i class='bx bx-plus'></i>How Do Tobacco-Free Nicotine Pouches Work?
              </label>
              <div class="answers">
                <p>Tobacco free nicotine pouches are small, white, and odorless. They contain a mixture of plant-based fibers, nicotine, and flavorings. The pouch releases nicotine into the bloodstream through the mucous membranes when placed between the upper lip and gum. This provides a quick and effective nicotine hit without the need for smoking or vaping.</p> 
              </div>
            </div>
              
            <div>
              <input type="checkbox" id="question6" name="q" class="questions">
              <label for="question6" class="question">
                <i class='bx bx-plus'></i>What are Dry Nicotine Pouches?  
              </label>
              <div class="answers">
                These dried nicotine pouches are small, discreet pouches made from a blend of food-grade fillers, natural fibers, and nicotine extract. Unlike traditional tobacco products, they contain no tobacco do, so you can consume nicotine without the harmful effects of smoking, including secondhand smoke and the risk of lung cancer.
              </div>
            </div>
            </div>
            
        <div class="sec-7-d-1-sub">
          <div class="sec-7-d-1-sub-h">
            <h1>Be the first to know!</h1>
            <input type="email" placeholder="Email address" name="mail" required>
            <label class="subscribe" for="mail"><i class='bx bxs-envelope'></i>Subscribe</label>
          </div>
          <div class="sec-7-d-1-sub-f">
            <h2>Subscribe to our news letter for updates and coupons.</h2>
          </div>
        </div>
        
      </div>
      <div class="sec-7-div-2">
        <div class="sec-7-grid-item-1">
          <img src="/images/Newest Zolt Web Logo white Trans.webp" alt="">
        </div>
        <div class="sec-7-grid-item-2">
              <h4><i class='bx bxs-phone' ></i>:</h4>
              <p>+1 (281) 917-8929</p>
        </div>
        <div class="sec-7-grid-item-3">
          <h4><i class='bx bxs-envelope'></i>:</h4>
              <p>contact@zoltusa.com</p>
          </div>
          <div class="sec-7-grid-item-4">
              <h4><i class='bx bxs-map' ></i>:</h4>
              <p>1650 Highway 6 <br>
                 Suite 120 <br>
                 Sugar Land, Texas, 77478
              </p>
            </span>
            </div>
        <div class="sec-7-grid-item-5">
          <p><a href="#">Terms and conditions.</a></p>
          <p><i class='bx bxs-copyright' ></i>ZOLT</p>
          <p>2024</p>
        </div>  
        </div>
      </div>
  </div>
<%- include("partials/footer-home.ejs") %>
