<%- include("partials/header-home.ejs") %>
  <div class="container">
   <div class="slider-container">
      <img class="slider-top" src="images/section1-banner1.webp" alt="">
      <img class="slider-top" src="images/section1-banner2.webp" alt="">
      <img class="slider-top active" src="images/section1-banner3.webp" alt="">
   </div>
  </div>
  <div class="progress">
   <div id="length"></div>
           <div id="progress-animation"></div>
           <div class="slider-count">
               <div class="count"></div>
               <div class="count"></div>
               <div class="count"></div>
           </div>
  </div>
        
  <div class="grid-container">
    <div class="item1">
      <div class="header-item1"><h2>TOBACCO FREE - NICOTINE POUCHES</h2></div>
      <div class="content-div-item1">
        <div class="strong-item1">
          <img src="/images/pouch.webp" alt="">
        </div>
        <div class="headings-item1">
          <h2>16 varieties of flavors!</h2>
          <ul>
            <li><i class='bx bxs-check-circle'></i>strong</li>
            <li><i class='bx bxs-check-circle'></i>tobacco alternatives</li>
            <li><i class='bx bxs-check-circle'></i>best in the industry</li>
          </ul>
        </div>
        <div class="slider-container-item1">
          <div class="card-item1">
            <div class="image-item1">
              <img src="/images/products/strawberry.webp" alt="">
              <img src="/images/products/spearmint.webp" alt="">
              <img src="/images/products/vintage.webp" alt="">
              <img src="/images/products/peppermint.webp" alt="">
              <img src="/images/products/sour-apple.webp" alt="">
              <img src="/images/products/winter-green.webp" alt="">
              <img src="/images/products/peach.webp" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item2">
      <img src="/images/all-new-flavors-zolt.svg" alt="">
      <a href="products.ejs">ORDER NOW</a>
    </div>
    <div class="item3"></div>  
    <div class="item4"></div>
  </div>

  <div class="section-3">
    <div class="section-3-video">
      <video width="920" height="480" autoplay muted loop>
        <source src="/videos/pouch demo anime.mp4" type="video/mp4">
        Your browser does not support HTML video.
      </video>
    </div>
    <div class="section-3-content">
      <div class="section-3-content-img">
        <img src="/images/thunder.webp" alt="">
      </div>
      <div class="section-3-content-heading">
        <h1>Feel it!</h1>
        <h2>For 60 mins.</h2>
      </div>
    </div>
  </div>

  <div class="section-4">
    <div class="section-4-item1">
      <div class="section-4-item1-img">
        <img src="/images/products/vintage.webp" alt="">
      </div>
      <div class="section-4-item1-strength">
        <i class='strength-8'></i>
        <i class='strength-8'></i>
        <i class='strength-8'></i>
        <i class='strength-8'></i>
        <i class='strength-8'></i>
      </div>
    </div>
    <div class="section-4-item2">
        <h1>Two strengths of nicotine</h1>
        <h4><span class="i8">8 mg</span>
            <span class="i15">15 mg</span>
        </h4>
        <div class="section-4-item2-sym">
          <span><i class='bx bxs-droplet'></i>Stain free</span>
          <span><i class='bx bxs-check-circle'></i>Easy to use</span>
          <span><i class='bx bxs-time-five' ></i>Lasts long</span>
        </div>
    </div>
    <div class="section-4-item3">
      <div class="section-4-item3-img">
        <img src="/images/15mg/coffee-15mg.webp" alt="">
      </div>
      <div class="section-4-item3-strength">
        <i class='strength-15'></i>
        <i class='strength-15'></i>
        <i class='strength-15'></i>
        <i class='strength-15'></i>
        <i class='strength-15'></i>
      </div>
    </div>
    <div class="section-4-item4">
      <h2>Use It... <br> Anywhere, Anytime!</h2>
      <img src="/images/pouch-sym-white.webp" alt="">
      <div class="sec-4-it-4-div-1">
      </div>
    </div>
  </div>

<!-- section 5 -->
  
<div class="section-5">
    <div class="sec-5-overlay"></div>
    <div class="sec-5-div-1">
      <div class="sec-5-div-1-con">
        <h1>Special Blend Of Flavors!</h1>
        <h6>Enjoy exotic flavors without having any <br> stains on your teeth.</h6>
      </div>
    </div>
    <div class="sec-5-div-2">
      <div class="sec-5-slider">
        <div class="sec-5-slide">
          <!-- 15 slides -->
          <div class="slide">
            <img src="/images/flavors-graphics/1.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/2.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/3.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/4.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/5.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/6.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/7.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/8.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/9.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/10.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/11.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/12.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/13.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/14.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/15.webp" alt="">
          </div>
          <!-- 15 slides -->
  
          <div class="slide">
            <img src="/images/flavors-graphics/1.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/2.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/3.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/4.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/5.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/6.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/7.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/8.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/9.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/10.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/11.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/12.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/13.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/14.webp" alt="">
          </div>
          <div class="slide">
            <img src="/images/flavors-graphics/15.webp" alt="">
          </div>
  
        </div>
      </div>
    </div>
  </div>

  <!-- section 6 -->

  <div class="section-6">
    <div class="sec-6-div-1">
      <div class="sec-6-d-1-left">
        <div class="sec-6-d-1-left-con">
          <h1>The Power of Long Lasting <br> Nicotine Pouches!</h1>
          <h6>Revolutionize Your Nicotine Fix</h6>
          <a href="about.ejs">Learn About <span>ZOLT</span><i class='bx bx-chevrons-right'></i></a>
        </div>
      </div>
      <div class="sec-6-d-1-right">
        <img src="/images/open-can-img-trans-bg.webp" alt="">
      </div>
    </div>
    <div class="sec-6-div-2">
      <div class="sec-6-div-2-left">
        <i class='bx bxs-truck'></i>
        <span><h1>Express Delivery</h1></span>
      </div>
      <div class="sec-6-div-2-right">
        <i class='bx bxs-check-shield' ></i>
        <span><h1>Secure Payment</h1></span>
      </div>
    </div>
  </div>
<%- include("partials/footer-home.ejs") %>
