<%- include("partials/header-products.ejs") %>
    <!-- Your page content goes here -->
    <div class="product-page">
        <div class="product-page-header">
            <div class="tog-btn-bg">
                <span class="8mg tog-active">8mg</span>
                <span class="15mg">15mg</span>
            </div>
        </div>
        <div class="products-list">        
            
            
        </div>
    </div>
   

<%- include("partials/footer-products.ejs") %>    
